body {
  font-family: "Crock";
}
html, body {
    margin: 0;
    height: 100%;
    color: white;
}

.hapna {
  font-family: 'Hapna';
  font-weight: 500;
  word-spacing: -2px;
}

.fred {
  filter: brightness(0.5) sepia(1) saturate(10000%);
}

.fgold {
  filter: brightness(0) saturate(100%) invert(90%) sepia(29%) saturate(3711%) hue-rotate(349deg) brightness(108%) contrast(101%);
}
.gold {
  color: gold;
}
.red {
  color: red;
}
.bw {
  filter: grayscale(1);
}
.opacity50 {
  opacity: 0.5;
}

#app {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  //background-color: grey;
}
.menu {
  position: absolute;
  width: 540px;
  height: 990px;
  &.right {
    right: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 110%;
    -webkit-mask-position-y: 0px;
    padding: 26px 54px 40px 54px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    &>* {
      z-index: 10;
      position: relative;
    }
    
    &>.background {
      content: "";
      z-index: 5;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: url('./assets/images/background.png');
      filter: invert(100%);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}

header {
  background: url('./assets/images/menu_header.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 108px;
  min-height: 108px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-weight: 100;
    font-size: 40px;
  }
}

main {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    margin-top: 15px;
    text-align: center;
    font-size: 1.3em;
    position: relative;
  }
}

.footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.scroller {
  display: grid;
  grid-template-columns: 204px 24px 204px;
  div {
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px;
  }
  &.top {
    margin-bottom: 5px;
    margin-top: -8px;
    .left, .right {
      background-image: url('@/assets/images/menu/scroller_right_top.png');
    }
    .center {
      background-image: url('@/assets/images/menu/scroller_line_up.png');
      &.active {
        background-image: url('@/assets/images/menu/scroller_arrow_top.png');
      }
    }
  }
  &.bottom {
    margin-top: 5px;
    .left, .right {
      background-image: url('@/assets/images/menu/scroller_right_bottom.png');
    }
    .center {
      background-image: url('@/assets/images/menu/scroller_line_down.png');
      &.active {
        background-image: url('@/assets/images/menu/scroller_arrow_bottom.png');
      }
    }
  }
}

.list {
  position: relative;
  //height: 420px;
  overflow: hidden;
  .item {
    display: grid;
    width: 100%;
    height: 47px;
    position: relative;
    grid-template-columns: repeat(auto);
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    &.active {
      //background-color: red;
    }
    & > * {
      display: block;
      z-index: 10;
    }
    &:not(:last-child) {
      margin-bottom: 6px;  
    }
    .background {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      filter: invert(75%);
      z-index: 5;
      background-image: url('@/assets/images/menu/selection_box_bg_1d.png');
      background-size: 100% 100%;
    }
    h3 {
      font-size: 1.4em;
      display: flex;
      column-gap: 5px;
      align-items: center;
      .prefix {
        width: 20px;
        .star {
          filter: brightness(0) saturate(100%) invert(90%) sepia(29%) saturate(3711%) hue-rotate(349deg) brightness(108%) contrast(101%);
        }
      }
      .title {
        flex: 1 1 auto;
      }
      .sufix {
        font-size: 0.65em;
        .arrows {
          column-gap: 10px;
        }
      }
      .priceRight {
        font-size: 1.5em;
        position: relative;
        display: block;
        top: 3px;
        .gold img {
          width: 20px;
        }
      }
    }
    &.with-icon {
      grid-template-columns: 80px auto;
      grid-gap: 25px;
      height: 100px;
      .background {
        background-image: url('@/assets/images/menu/background_item.png');
      }
    }
    .image img {
      width: 100%;
    }
    .current {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      width: 32px;
      height: 32px;
      &>div {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .textRight {
      display: flex;
      img {
        height: 30px;
      }
      .colorCustom {
        width: 30px;
      }
    }
    &.disabled {
      color:gray;
      .textRight {
        opacity: 0.5;
      }
    }

  }
}

.scounter {
  font-weight: 600;
  color: gray;
  text-align: right;
  margin-top: -22px;
}

.selector {
  position: absolute;
  display: block;
  width: 100%;
  height: 47px;
  z-index: 20;
  pointer-events: none;
  &::after {
    border-color: #d80419;
    border-image-repeat: round;
    border-image-slice: 10 10 10 10 fill;
    border-image-source: url("@/assets/images/menu/hover.png");
    border-style: solid;
    border-width: 8px;
    bottom: -4px;
    content: "";
    left: -6px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: -4px;
    top: -6px;
    z-index: 10;
  }
  &.with-icon {
    height: 100px;
  }
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  &>div {
    display: grid;
  }
  .arrow img {
    width: 15px;
  }
  .text {
    font-family: 'Hapna';
    font-weight: 500;
    font-size: 1.1em;
  }
}

.sliders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &.full {
    flex-grow: 1;
  }
  .grid-container {
    flex-grow: unset;
  }
}

.slider {
  margin-bottom: 30px;
  bottom: 50px;
  width: 100%;
  .arrows {
    margin-top: 8px;
  }
  .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    margin-top: 16px;
    .box {
      position: relative;
      width: 30px;
      height: 8px;
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-image: url('@/assets/images/menu/swatch_bg_1a.png');
      }
      &:not(.active)::before {
        filter: invert(50%);
      }
      &.bought::before {
        filter: invert(69%) sepia(42%) saturate(6522%) hue-rotate(80deg) brightness(115%) contrast(128%);
      }
      &.equiped::before {
        filter: invert(23%) sepia(94%) saturate(502%) hue-rotate(1deg) brightness(107%) contrast(103%);
      }
    }
    .current {
      filter: invert(0%);
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        background-image: url('@/assets/images/menu/tank_meter_marker.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(0.5) sepia(1) saturate(10000%);
        height: calc(100% + 4px);
        width: calc(100%);
      }
    }
  }
}

.color-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  margin-top: 16px;
  width: 432px;
  position: relative;
  .box {
    position: relative;
    img {
      width: 37px;
      height: 37px;
    }
  }
  
  .tick {
    position: absolute;
    top: 0;
    left: 0;
  }
  .current {
    filter: invert(0%);
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -8px;
      left: -7px;
      background-image: url('@/assets/images/menu/selection_box_square.png');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      filter: brightness(0.5) sepia(1) saturate(10000%);
      height: calc(100% + 14px);
      width: calc(100% + 14px);
    }
  }
}

.colorCustom {
  width: 37px;
  height: 41px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3px;
  .tint0,.tint1,.tint2, .border {
    position: absolute;
    aspect-ratio: 1 / 1;
    background-size: cover;
    image-rendering : pixelated;
    background-repeat: no-repeat;
  }
  .tint0 {
    width: 100%;
  }
  .tint1 {
    width: 22px;
  }
  .tint2 {
    width: 11px;
  }
  .border {
    width: 100%;
    background-image: url('@/assets/images/tints/swatch_box.png');
    background-position: center;
  }
}
.item.disabled .colorCustom {
  opacity: 0.2;
}

.divider {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-image: url('@/assets/images/menu/divider_line.png');
}

.price {
  height: 52px;
  width: 100%;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    h4 {
      font-size: 1.5em;
    }
  }
  .priceDisplay {
    font-size: 2em;
  }
}
.priceDisplay {
  display: flex;
  position: relative;
  .centime {
    position: relative;
    font-size: 0.6em;
    margin-left: 2px;
    margin-top: 2px;
    height: fit-content;
    &::after {
      content: '';
      position: absolute;
      display: block;
      background-image: url('@/assets/images/menu/money_line.png');
      height: 5px;
      width: 100%;
      left: 0;
      bottom: 0;
    }
  }
  .divider.bottom {
    margin-top: -5px;
  }
  .gold {
    img {
      width: 30px;
      margin-right: 5px;
    }
  }
  .gold.left {
    font-size: 0.6em;
    margin-top: 10px;
    margin-right: 10px;
    img {
      width: 20px;
    }
  }
}

.description {
  text-align: center;
  margin-top: 10px;
  font-size: 1.3em;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.statistics {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  flex-wrap: nowrap;
  .statistic {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    .stat-bars {
      display: flex;
      column-gap: 5px;
      align-items: center;
      justify-content: flex-end;
      .stat-bar {
        content: '';
        width: 20px;
        height: 10px;
        background-image: url('@/assets/images/menu/scoretimer_centre_bg.png');
        background-size: 100% 100%;
        opacity: 0.20;
        &.active {
          opacity: 1;
        }
        &.possible {
          opacity: 0.5;
        }
      }
      &.penalty .possible:not(.active) {
        filter: brightness(0.5) sepia(1) saturate(10000%);
        opacity: 0.75;
      }
    }
    .stat-icons {
      display: flex;
      height: 26px;
      column-gap: 2px;
      .icon {
        width: 26px;
      }
    }
    .weapon-bar {
      width: 245px;
      position: relative;
      .background {
        opacity: 0.25;
      }
      .box {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      }
      .amount {
        width: 100%;
        overflow: hidden;
        /*transition: width 0.5s ease;*/
      }
    }
  }
}

.helpers {
  display: none;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 40px;
  padding: 2px;
  color: white;
  font-size: 20px;
  text-align: right;
  .helper {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  h2 {
    padding: 0;
    margin: 0;
    padding-right: 10px;
  }

  .image {
    position: relative;
    display: flex;
    padding: 3px;
    justify-content: center;
    align-items: center;
    padding: 2px;
    height: 32px;

    &.pressed {
      background-color: white;
    }
    
    img {
      display: block;
      height: 100%;
    }

    .canProgress, .progress {
      content: '';
      position: absolute;
      top: -4px;
      left: -4px;
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      border-radius: 3px;
    }

    .canProgress {
      border: 3px #d8d8d8bd solid;
      border-radius: 3px;
      z-index: 5;
    }
    .progress {
      background: linear-gradient(to right, white 99.99%, transparent), linear-gradient(to bottom, white 99.99%, transparent), linear-gradient(to right, white 99.99%, transparent), linear-gradient(to bottom, white 99.99%, transparent);
      background-size: 40px 3px, 3px 40px, 40px 3px, 3px 40px;
      background-repeat: no-repeat;
      animation: progress 2s linear forwards;
      background-position: -40px 0px, 37px -40px, 40px 37px, 0px 40px;
      z-index: 10;
    }
  }
  @keyframes progress {
    0% {
      background-position: -40px 0px, 37px -40px, 40px 37px, 0px 40px;
    }
    25% {
      background-position: 0px 0px, 37px -40px, 40px 37px, 0px 40px;
    }
    50% {
      background-position: 0px 0px, 37px 0px, 40px 37px, 0px 40px;
    }
    75% {
      background-position: 0px 0px, 37px 0px, 0px 37px, 0px 40px;
    }
    100% {
      background-position: 0px 0px, 37px 0px, 0px 37px, 0px 0px;
    }
  }
}

* {
  --transition-duration: 1s;
  --transition-speed2: 0.4s;
  --transition-opacity: 0.2s;
  --delay-enter: 0.1s;
  --delay-leave: 0.1s;
}

.v-enter-active,
.v-leave-active {
  transition: all var(--transition-duration) ease;
  .container {
    -webkit-mask-image: url('./assets/images/background_mask.png');
  }
}

.v-enter-from .container,
.v-leave-to .container {
  -webkit-mask-position-y: -1400px;
}

.v-enter-active .container {
  transition: -webkit-mask-position-y var(--transition-speed2) cubic-bezier(0,0.5,0.5,1);
}

.v-leave-active .container {
  transition: -webkit-mask-position-y var(--transition-speed2) cubic-bezier(.5,0,1,.5) var(--delay-leave);
  -webkit-mask-position-y: -1400px;
}

.smudge {
  display: none;
  content: '';
  background-image: url('./assets/images/background_smudge.png');
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  -webkit-mask-image: linear-gradient(180deg, black 75%, transparent);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 120%;
  -webkit-mask-position-y: 200px;
  transition: all var(--transition-speed2) cubic-bezier(.9,.01,1,.5) var(--delay-leave);
}
.v-leave-active .smudge {
  display: block;
}
.v-leave-to .smudge {
  -webkit-mask-position-y: -1400px;
}

/* ANIMATION MAIN MENU */
.v-leave-to main,
.v-enter-from main {
  opacity: 0;
}

.v-enter-active main {
  transition: opacity var(--transition-opacity) ease-in var(--delay-enter);
}
.v-leave-active main {
  transition: opacity var(--transition-opacity) ease-in;
}

.loading {
  display: flex;
  height: calc(100% - 108px);
  width: 100%;
  justify-content: center;
  align-items: center;
  img {
    width: 64px;
  }
}

.clicker {
  cursor: pointer;
}

.backer {
  position: absolute;
  left: 0;
  top: 1px;
  width: 20px;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 121px 170px 121px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  &.slider {
    position: relative;
    transform: 0;
    bottom: 0;
  }
  .center {
    display: grid;
    gap: 10px;
  }
  .grid {
    width: 100%;
    height: 38px;
    background-image: url('./assets/images/menu/grid.png');
    background-size: cover;
    position: relative;
    #marker {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 20px;
      height: 20px;
      background-image: url('./assets/images/menu/marker.png');
      background-size: 25px;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
  }
  &.dimension-2 {
    .grid {
      height: 170px;
    }
  }
  .left {
    text-align: right;
  }
  .right {
    text-align: left;
  }
  .top,.bottom {
    text-align: center;
  }
}